/* Styles pour le site WeatherNow */

body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  padding: 20px 0;
  margin: 0;
  background-color: #fff;
}

form {
  text-align: center;
  margin: 20px auto;
  max-width: 300px;
}

form label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

#weatherData {
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#weatherData h2 {
  font-size: 24px;
  color: #333;
  margin: 0 0 10px;
}

#weatherData p {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}

/* Ajoutez ici des styles supplémentaires pour personnaliser le site */
